body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    }

h1 {
    padding-bottom: 30px;
}
#quiz-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
button {
    display: block; 
    width: 30%;
    padding: 10px;
    margin: 10px;
    margin-left: 30%;
    background-color: rgb(147, 199, 238); /*adjusted color as text was difficult to be read within the boxes*/
    cursor: pointer;
    }

button:hover {
    background-color: #60819d; /*added the on hover effect*/
    }

#start-btn, #submit-btn {
    padding: 8px; 
    width: 20%;
    margin: 3px;
    margin-left: 35%;
    background-color: rgb(147, 199, 238);
    cursor: pointer;
    }

#start-btn:hover,
#submit-btn:hover {
    background-color: #60819d; 
    }  

.hidden {
    display: none;
}

#result-container {
    color: green; /*  color for correct answers */
    }
    
#result-container.incorrect {
    color: red; /* color for incorrect answers*/
    }
    
#score-container {
    margin-top: 20px;
    background-color: rgb(171, 187, 200);
}

#buttons-container {
    display: flex;
    margin-top: 10px;
    margin-left: 22%;
}
#toggle-scores-btn,
#clear-scores-btn {
    padding: 8px;
    margin: 3px;
    background-color: rgb(147, 199, 238);
    cursor: pointer;
}

#toggle-scores-btn:hover,
#clear-scores-btn:hover {
    background-color: #60819d;
}

#initials-container {
    /*display: none;*/
    margin-top: 20px;
}

#initials-container label {
    display: block;
    margin-bottom: 10px;
}

#initials-container input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

#save-btn {
    display: block;
    width: 20%;
    padding: 10px;
    margin-left: 40%;
    background-color: #4ca94f;
    color: #000000;
    border: none;
    cursor: pointer;
}
#save-btn:hover {
    background-color: #7fc181;
}

#high-scores {
    display: block;
}

#high-scores.hidden {
    display: none;
}
